Repository explosion/curated-transformers, pull requests merged in 2023-09, with the labels that each got.

#321 MPT: Honour `no_bias` config option in layer norms
  curated_transformers/models/mpt/decoder.py
Labels: type/bug, feat/model

#322 Bump version to 1.2.0
  setup.cfg
Labels: type/maintenance

#323 Rename `download_to_cache` to `from_hf_hub_to_cache`
  curated_transformers/generation/auto_generator.py
  curated_transformers/generation/default_generator.py
  curated_transformers/generation/hf_hub.py
  curated_transformers/models/auto_model.py
  curated_transformers/models/hf_hub.py
  curated_transformers/tests/models/test_hf_hub.py
  curated_transformers/tests/tokenizers/test_hf_hub.py
  curated_transformers/tokenizers/auto_tokenizer.py
  curated_transformers/tokenizers/hf_hub.py
  curated_transformers/tokenizers/tokenizer.py
Labels: type/maintenance

#324 Update stable API links
  README.md
Labels: feat/doc, type/maintenance

#320 Add optional NVTX ranges annotations for forward passes
  curated_transformers/util/__init__.py
  curated_transformers/util/profile.py
  docs/source/utils.rst
Labels: type/feature, feat/misc

#326 Remove `hf-head` test marker
  .github/workflows/test.yml
  curated_transformers/tests/conftest.py
  curated_transformers/tests/generation/test_auto_generator.py
  curated_transformers/tests/models/mpt/test_causal_lm.py
  curated_transformers/tests/models/mpt/test_decoder.py
Labels: tests, type/maintenance

#327 Add support for loading models from an fsspec filesystem
  curated_transformers/models/auto_model.py
  curated_transformers/models/hf_hub.py
  curated_transformers/tests/models/test_auto_models.py
  curated_transformers/tests/models/test_hf_hub.py
  curated_transformers/tests/models/util.py
  curated_transformers/tests/tokenizers/legacy/test_bert_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_camembert_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_llama_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_roberta_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_xlmr_tokenizer.py
  curated_transformers/tests/tokenizers/test_auto_tokenizer.py
  curated_transformers/tests/tokenizers/test_hf_hub.py
  curated_transformers/tests/tokenizers/util.py
  curated_transformers/tokenizers/auto_tokenizer.py
  curated_transformers/tokenizers/hf_hub.py
  curated_transformers/tokenizers/legacy/bert_tokenizer.py
  curated_transformers/tokenizers/legacy/camembert_tokenizer.py
  curated_transformers/tokenizers/legacy/llama_tokenizer.py
  curated_transformers/tokenizers/legacy/roberta_tokenizer.py
  curated_transformers/tokenizers/legacy/xlmr_tokenizer.py
  curated_transformers/tokenizers/tokenizer.py
  curated_transformers/util/fsspec.py
  curated_transformers/util/hf.py
  curated_transformers/util/serde.py
  docs/source/api-compat.rst
  docs/source/usage.rst
  requirements.txt
  setup.cfg
Labels: type/feature, feat/model, feat/tokenization

#328 Persist model config to aid serialization
  curated_transformers/generation/default_generator.py
  curated_transformers/generation/generator.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/auto_model.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/config.py
  curated_transformers/models/falcon/causal_lm.py
  curated_transformers/models/falcon/decoder.py
  curated_transformers/models/gpt_neox/causal_lm.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/llama/causal_lm.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/module.py
  curated_transformers/models/mpt/causal_lm.py
  curated_transformers/models/mpt/decoder.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/models/transformer.py
  curated_transformers/tests/models/util.py
  docs/source/causal-lm.rst
  docs/source/decoders.rst
  docs/source/encoders.rst
Labels: type/feature, feat/model

#330 Add a default `dtype` to model configs
  curated_transformers/models/__init__.py
  curated_transformers/models/albert/config.py
  curated_transformers/models/auto_model.py
  curated_transformers/models/bert/config.py
  curated_transformers/models/config.py
  curated_transformers/models/falcon/config.py
  curated_transformers/models/gpt_neox/config.py
  curated_transformers/models/hf_hub.py
  curated_transformers/models/llama/config.py
  curated_transformers/models/module.py
  curated_transformers/models/mpt/config.py
  curated_transformers/models/roberta/config.py
  docs/source/building-blocks.rst
Labels: type/feature, feat/model

#331 Add repository abstraction
  curated_transformers/models/auto_model.py
  curated_transformers/models/hf_hub.py
  curated_transformers/repository/__init__.py
  curated_transformers/repository/_hf.py
  curated_transformers/repository/file.py
  curated_transformers/repository/fsspec.py
  curated_transformers/repository/hf_hub.py
  curated_transformers/repository/repository.py
  curated_transformers/tests/models/test_auto_models.py
  curated_transformers/tests/models/test_hf_hub.py
  curated_transformers/tests/tokenizers/legacy/test_camembert_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_xlmr_tokenizer.py
  curated_transformers/tests/tokenizers/test_auto_tokenizer.py
  curated_transformers/tests/tokenizers/test_tokenizer.py
  curated_transformers/tokenizers/auto_tokenizer.py
  curated_transformers/tokenizers/hf_hub.py
  curated_transformers/tokenizers/legacy/bert_tokenizer.py
  curated_transformers/tokenizers/legacy/camembert_tokenizer.py
  curated_transformers/tokenizers/legacy/llama_tokenizer.py
  curated_transformers/tokenizers/legacy/roberta_tokenizer.py
  curated_transformers/tokenizers/legacy/xlmr_tokenizer.py
  curated_transformers/tokenizers/tokenizer.py
  curated_transformers/util/fsspec.py
  curated_transformers/util/hf.py
  curated_transformers/util/serde.py
  docs/source/api.rst
  docs/source/repositories.rst
  docs/source/usage.rst
Labels: type/feature, feat/model, feat/tokenization, type/maintenance

#332 Add support for converting Curated Transfomer state dicts Hugging Face compatible state dicts
  curated_transformers/models/albert/_hf.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/bert/_hf.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/falcon/_hf.py
  curated_transformers/models/falcon/causal_lm.py
  curated_transformers/models/falcon/decoder.py
  curated_transformers/models/gpt_neox/_hf.py
  curated_transformers/models/gpt_neox/causal_lm.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/hf_hub/__init__.py
  curated_transformers/models/hf_hub/conversion.py
  curated_transformers/models/hf_hub/mixin.py
  curated_transformers/models/llama/_hf.py
  curated_transformers/models/llama/causal_lm.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/mpt/_hf.py
  curated_transformers/models/mpt/causal_lm.py
  curated_transformers/models/mpt/decoder.py
  curated_transformers/models/roberta/_hf.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/tests/models/albert/test_encoder.py
  curated_transformers/tests/models/bert/test_encoder.py
  curated_transformers/tests/models/camembert/test_encoder.py
  curated_transformers/tests/models/falcon/test_decoder.py
  curated_transformers/tests/models/gpt_neox/test_causal_lm.py
  curated_transformers/tests/models/gpt_neox/test_decoder.py
  curated_transformers/tests/models/llama/test_causal_lm.py
  curated_transformers/tests/models/llama/test_decoder.py
  curated_transformers/tests/models/mpt/test_causal_lm.py
  curated_transformers/tests/models/mpt/test_decoder.py
  curated_transformers/tests/models/roberta/test_encoder.py
  curated_transformers/tests/models/util.py
  curated_transformers/tests/models/xlm_roberta/test_encoder.py
  curated_transformers/util/string.py
  docs/source/api-compat.rst
Labels: type/feature, type/maintenance, feat/serde

#334 Restructure `util.serde`
  curated_transformers/models/hf_hub/mixin.py
  curated_transformers/quantization/bnb/impl.py
  curated_transformers/quantization/helpers.py
  curated_transformers/repository/_hf.py
  curated_transformers/repository/repository.py
  curated_transformers/tests/models/test_hf_hub.py
  curated_transformers/util/serde/__init__.py
  curated_transformers/util/serde/checkpoint.py
  curated_transformers/util/serde/load.py
Labels: type/maintenance
