Repository explosion/curated-transformers, pull requests merged in 2023-07, with the labels that each got.

#210 Add support for the `tokenizers` package
  MANIFEST.in
  curated_transformers/generation/dolly_v2.py
  curated_transformers/generation/falcon.py
  curated_transformers/generation/string_generator.py
  curated_transformers/tests/conftest.py
  curated_transformers/tests/tokenization/test_bert_tokenizer.py
  curated_transformers/tests/tokenization/test_camembert_tokenizer.py
  curated_transformers/tests/tokenization/test_gpt_neox_tokenizer.py
  curated_transformers/tests/tokenization/test_roberta_tokenizer.py
  curated_transformers/tests/tokenization/test_tokenizer.py
  curated_transformers/tests/tokenization/toy-roberta/__init__.py
  curated_transformers/tests/tokenization/toy-roberta/tokenizer.json
  curated_transformers/tokenization/__init__.py
  curated_transformers/tokenization/bbpe_tokenizer.py
  curated_transformers/tokenization/sentencepiece_tokenizer.py
  curated_transformers/tokenization/tokenizer.py
  curated_transformers/tokenization/wordpiece_tokenizer.py
  docs/source/tokenizers.rst
  requirements.txt
  setup.cfg
Labels: enhancement, feat/tokenization

#211 Unify legacy tokenizer loading interfaces
  .github/workflows/test.yml
  curated_transformers/tests/tokenization/test_bert_tokenizer.py
  curated_transformers/tests/tokenization/test_camembert_tokenizer.py
  curated_transformers/tests/tokenization/test_gpt_neox_tokenizer.py
  curated_transformers/tests/tokenization/test_llama_tokenizer.py
  curated_transformers/tests/tokenization/test_roberta_tokenizer.py
  curated_transformers/tests/tokenization/test_xlmr_tokenizer.py
  curated_transformers/tests/tokenization/util.py
  curated_transformers/tokenization/__init__.py
  curated_transformers/tokenization/bbpe_tokenizer.py
  curated_transformers/tokenization/bert_tokenizer.py
  curated_transformers/tokenization/camembert_tokenizer.py
  curated_transformers/tokenization/gpt_neox_tokenizer.py
  curated_transformers/tokenization/hf_hub.py
  curated_transformers/tokenization/llama_tokenizer.py
  curated_transformers/tokenization/roberta_tokenizer.py
  curated_transformers/tokenization/tokenizer.py
  curated_transformers/tokenization/wordpiece_tokenizer.py
  curated_transformers/tokenization/xlmr_tokenizer.py
  curated_transformers/util/hf.py
  docs/source/tokenizers.rst
Labels: enhancement, feat/tokenization

#212 Add `AutoTokenizer` class
  curated_transformers/models/hf_hub.py
  curated_transformers/tests/tokenization/test_auto_tokenizer.py
  curated_transformers/tokenization/__init__.py
  curated_transformers/tokenization/auto_tokenizer.py
  curated_transformers/util/auto_model.py
  curated_transformers/util/hf.py
  docs/source/tokenizers.rst
Labels: enhancement, feat/tokenization

#213 Fallback to the default device during `bitsandbytes` layer init
  README.md
  curated_transformers/quantization/bnb/impl.py
  curated_transformers/tests/quantization/test_generation.py
Labels: enhancement, feat/misc

#214 Add `eos_piece` property and `piece_to_id` method to `TokenizerBase`
  curated_transformers/tests/tokenization/test_tokenizer.py
  curated_transformers/tests/tokenization/util.py
  curated_transformers/tokenization/bbpe_tokenizer.py
  curated_transformers/tokenization/bert_tokenizer.py
  curated_transformers/tokenization/roberta_tokenizer.py
  curated_transformers/tokenization/sentencepiece_tokenizer.py
  curated_transformers/tokenization/tokenizer.py
  curated_transformers/tokenization/wordpiece_tokenizer.py
  curated_transformers/tokenization/xlmr_tokenizer.py
  curated_transformers/util/hf.py
Labels: enhancement, feat/tokenization

#215 Add a default generator
  curated_transformers/generation/__init__.py
  curated_transformers/generation/auto_generator.py
  curated_transformers/generation/default_generator.py
  curated_transformers/generation/dolly_v2.py
  curated_transformers/generation/falcon.py
  curated_transformers/tests/generation/test_auto_generator.py
  curated_transformers/tests/generation/test_generic.py
  curated_transformers/tests/models/test_auto_models.py
  curated_transformers/util/auto_model.py
  docs/source/generation.rst
Labels: enhancement, feat/generation

#216 Restructure tokenizers package
  curated_transformers/generation/default_generator.py
  curated_transformers/generation/dolly_v2.py
  curated_transformers/generation/falcon.py
  curated_transformers/generation/string_generator.py
  curated_transformers/tests/tokenization/legacy/__init__.py
  curated_transformers/tests/tokenization/legacy/test_bert_tokenizer.py
  curated_transformers/tests/tokenization/legacy/test_camembert_tokenizer.py
  curated_transformers/tests/tokenization/legacy/test_llama_tokenizer.py
  curated_transformers/tests/tokenization/legacy/test_roberta_tokenizer.py
  curated_transformers/tests/tokenization/legacy/test_xlmr_tokenizer.py
  curated_transformers/tests/tokenization/legacy/toy-merges.txt
  curated_transformers/tests/tokenization/legacy/toy-vocab.json
  curated_transformers/tests/tokenization/legacy/toy.model
  curated_transformers/tests/tokenization/legacy/toy.wordpieces
  curated_transformers/tests/tokenization/test_auto_tokenizer.py
  curated_transformers/tests/tokenization/test_chunks.py
  curated_transformers/tests/tokenization/test_tokenizer.py
  curated_transformers/tests/tokenization/toy-bert.json
  curated_transformers/tests/tokenization/toy-gpt-neox.json
  curated_transformers/tokenizers/__init__.py
  curated_transformers/tokenizers/_hf_compat.py
  curated_transformers/tokenizers/auto_tokenizer.py
  curated_transformers/tokenizers/chunks.py
  curated_transformers/tokenizers/hf_hub.py
  curated_transformers/tokenizers/legacy/__init__.py
  curated_transformers/tokenizers/legacy/_fairseq.py
  curated_transformers/tokenizers/legacy/bbpe_tokenizer.py
  curated_transformers/tokenizers/legacy/bert_tokenizer.py
  curated_transformers/tokenizers/legacy/camembert_tokenizer.py
  curated_transformers/tokenizers/legacy/legacy_tokenizer.py
  curated_transformers/tokenizers/legacy/llama_tokenizer.py
  curated_transformers/tokenizers/legacy/roberta_tokenizer.py
  curated_transformers/tokenizers/legacy/sentencepiece_tokenizer.py
  curated_transformers/tokenizers/legacy/wordpiece_tokenizer.py
  curated_transformers/tokenizers/legacy/xlmr_tokenizer.py
  curated_transformers/tokenizers/tokenizer.py
  curated_transformers/tokenizers/util.py
  docs/source/tokenizers.rst
Labels: feat/tokenization

#217 Convert all tokenizer/model casing to 'model-case'
  curated_transformers/models/__init__.py
  curated_transformers/models/albert/__init__.py
  curated_transformers/models/albert/_hf.py
  curated_transformers/models/albert/config.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/albert/layer_group.py
  curated_transformers/models/bert/__init__.py
  curated_transformers/models/bert/_hf.py
  curated_transformers/models/bert/config.py
  curated_transformers/models/bert/embeddings.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/bert/layer.py
  curated_transformers/models/camembert/__init__.py
  curated_transformers/models/camembert/encoder.py
  curated_transformers/models/roberta/__init__.py
  curated_transformers/models/roberta/_hf.py
  curated_transformers/models/roberta/config.py
  curated_transformers/models/roberta/embeddings.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/models/xlm_roberta/__init__.py
  curated_transformers/models/xlm_roberta/encoder.py
  curated_transformers/tests/models/albert/test_encoder.py
  curated_transformers/tests/models/bert/test_encoder.py
  curated_transformers/tests/models/camembert/test_encoder.py
  curated_transformers/tests/models/roberta/test_encoder.py
  curated_transformers/tests/models/test_attention.py
  curated_transformers/tests/models/test_auto_models.py
  curated_transformers/tests/models/test_hf_hub.py
  curated_transformers/tests/models/xlm_roberta/test_encoder.py
  curated_transformers/tests/tokenization/legacy/test_bert_tokenizer.py
  curated_transformers/tests/tokenization/legacy/test_camembert_tokenizer.py
  curated_transformers/tests/tokenization/legacy/test_roberta_tokenizer.py
  curated_transformers/tests/tokenization/legacy/test_xlmr_tokenizer.py
  curated_transformers/tokenizers/auto_tokenizer.py
  curated_transformers/tokenizers/legacy/__init__.py
  curated_transformers/tokenizers/legacy/bert_tokenizer.py
  curated_transformers/tokenizers/legacy/camembert_tokenizer.py
  curated_transformers/tokenizers/legacy/roberta_tokenizer.py
  curated_transformers/tokenizers/legacy/xlmr_tokenizer.py
  curated_transformers/util/auto_model.py
  docs/source/encoders.rst
  docs/source/tokenizers.rst
Labels: feat/model, feat/tokenization

#218 Also rename the tokenizers test package
  curated_transformers/tests/tokenizers/__init__.py
  curated_transformers/tests/tokenizers/legacy/__init__.py
  curated_transformers/tests/tokenizers/legacy/test_bert_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_camembert_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_llama_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_roberta_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_xlmr_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/toy-merges.txt
  curated_transformers/tests/tokenizers/legacy/toy-vocab.json
  curated_transformers/tests/tokenizers/legacy/toy.model
  curated_transformers/tests/tokenizers/legacy/toy.wordpieces
  curated_transformers/tests/tokenizers/test_auto_tokenizer.py
  curated_transformers/tests/tokenizers/test_chunks.py
  curated_transformers/tests/tokenizers/test_tokenizer.py
  curated_transformers/tests/tokenizers/toy-roberta/__init__.py
  curated_transformers/tests/tokenizers/toy-roberta/tokenizer.json
  curated_transformers/tests/tokenizers/util.py
Labels: feat/tokenization

#220 Move layers that are not specific to a model to `layers` package
  curated_transformers/generation/generator.py
  curated_transformers/layers/__init__.py
  curated_transformers/layers/activations.py
  curated_transformers/layers/attention.py
  curated_transformers/layers/cache.py
  curated_transformers/layers/embeddings.py
  curated_transformers/layers/feedforward.py
  curated_transformers/layers/normalization.py
  curated_transformers/layers/scalar_weight.py
  curated_transformers/models/__init__.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/albert/layer_group.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/bert/layer.py
  curated_transformers/models/gpt_neox/causal_lm.py
  curated_transformers/models/gpt_neox/config.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/gpt_neox/layer.py
  curated_transformers/models/llama/causal_lm.py
  curated_transformers/models/llama/config.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/llama/layer.py
  curated_transformers/models/module.py
  curated_transformers/models/output.py
  curated_transformers/models/refined_web_model/causal_lm.py
  curated_transformers/models/refined_web_model/decoder.py
  curated_transformers/models/refined_web_model/layer.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/tests/models/gpt_neox/test_causal_lm.py
  curated_transformers/tests/models/gpt_neox/test_decoder.py
  curated_transformers/tests/models/llama/test_causal_lm.py
  curated_transformers/tests/models/llama/test_decoder.py
  curated_transformers/tests/models/refined_web_model/test_decoder.py
  curated_transformers/tests/models/test_attention.py
  curated_transformers/tests/models/test_embeddings.py
  curated_transformers/tests/models/util.py
  curated_transformers/util/auto_model.py
  docs/source/building-blocks.rst
  docs/source/utils.rst
  examples/generate.py
Labels: feat/model, feat/layers

#219 Update curated-tokenizers dependency to 0.9.0.dev0
  curated_transformers/tokenizers/legacy/bbpe_tokenizer.py
  curated_transformers/tokenizers/legacy/roberta_tokenizer.py
  curated_transformers/tokenizers/legacy/sentencepiece_tokenizer.py
  requirements.txt
  setup.cfg
Labels: feat/tokenization

#221 @danieldk likes Dash docsets
  docs/Makefile
Labels: documentation

#222 Move `auto_model` to `models`
  curated_transformers/generation/auto_generator.py
  curated_transformers/generation/default_generator.py
  curated_transformers/generation/dolly_v2.py
  curated_transformers/generation/generator.py
  curated_transformers/generation/string_generator.py
  curated_transformers/models/auto_model.py
  curated_transformers/tests/models/test_auto_models.py
  curated_transformers/tokenizers/legacy/camembert_tokenizer.py
  examples/generate.py
Labels: enhancement

#224 Add an example that rewrites sentences in the passive voice to active voice
  curated_transformers/models/refined_web_model/causal_lm.py
  examples/passive-examples.json
  examples/passive2active.py
Labels: feat/example

#225 Add a more extensive README for Curated Transformers 0.9
  README.md
Labels: documentation

#226 Spruce up documentation
  curated_transformers/generation/config.py
  curated_transformers/generation/generator.py
  curated_transformers/generation/generator_wrapper.py
  curated_transformers/generation/hf_hub.py
  curated_transformers/generation/logits.py
  curated_transformers/generation/state.py
  curated_transformers/layers/activations.py
  curated_transformers/layers/attention.py
  curated_transformers/layers/cache.py
  curated_transformers/layers/embeddings.py
  curated_transformers/layers/feedforward.py
  curated_transformers/layers/scalar_weight.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/albert/layer_group.py
  curated_transformers/models/auto_model.py
  curated_transformers/models/bert/embeddings.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/bert/layer.py
  curated_transformers/models/camembert/encoder.py
  curated_transformers/models/gpt_neox/causal_lm.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/gpt_neox/layer.py
  curated_transformers/models/hf_hub.py
  curated_transformers/models/llama/causal_lm.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/llama/layer.py
  curated_transformers/models/module.py
  curated_transformers/models/output.py
  curated_transformers/models/refined_web_model/causal_lm.py
  curated_transformers/models/refined_web_model/decoder.py
  curated_transformers/models/refined_web_model/layer.py
  curated_transformers/models/roberta/embeddings.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/models/xlm_roberta/encoder.py
  curated_transformers/quantization/quantizable.py
  curated_transformers/tokenizers/auto_tokenizer.py
  curated_transformers/tokenizers/hf_hub.py
  curated_transformers/tokenizers/legacy/_fairseq.py
  curated_transformers/tokenizers/legacy/sentencepiece_tokenizer.py
  curated_transformers/tokenizers/legacy/wordpiece_tokenizer.py
  curated_transformers/tokenizers/tokenizer.py
  curated_transformers/util/hf.py
  curated_transformers/util/pytorch.py
  docs/source/api.rst
  docs/source/building-blocks.rst
  docs/source/causal-lm.rst
  docs/source/conf.py
  docs/source/decoders.rst
  docs/source/encoders.rst
  docs/source/generation.rst
  docs/source/index.rst
  docs/source/quantization.rst
  docs/source/tokenizers.rst
  docs/source/usage.rst
  docs/source/utils.rst
Labels: documentation

#229 Speed up library import
  curated_transformers/_compat.py
  curated_transformers/quantization/bnb/impl.py
  curated_transformers/tests/compat.py
  curated_transformers/tests/models/albert/test_encoder.py
  curated_transformers/tests/models/bert/test_encoder.py
  curated_transformers/tests/models/camembert/test_encoder.py
  curated_transformers/tests/models/gpt_neox/test_causal_lm.py
  curated_transformers/tests/models/gpt_neox/test_decoder.py
  curated_transformers/tests/models/llama/test_causal_lm.py
  curated_transformers/tests/models/llama/test_decoder.py
  curated_transformers/tests/models/refined_web_model/test_decoder.py
  curated_transformers/tests/models/roberta/test_encoder.py
  curated_transformers/tests/models/test_attention.py
  curated_transformers/tests/models/test_embeddings.py
  curated_transformers/tests/models/test_hf_hub.py
  curated_transformers/tests/models/util.py
  curated_transformers/tests/models/xlm_roberta/test_encoder.py
  curated_transformers/tests/tokenizers/legacy/test_bert_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_camembert_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_llama_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_roberta_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_xlmr_tokenizer.py
  curated_transformers/tests/tokenizers/test_tokenizer.py
  curated_transformers/tests/tokenizers/util.py
Labels: enhancement

#230 More README polishing
  README.md
  curated_transformers/generation/__init__.py
Labels: documentation

#232 Add links for 0.9.x docs
  README.md
Labels: documentation

#234 Update RTD index page
  README.md
  docs/source/causal-lm.rst
  docs/source/decoders.rst
  docs/source/encoders.rst
  docs/source/index.rst
  docs/source/usage.rst
Labels: documentation

#233 Add links to papers cited in docstrings
  curated_transformers/layers/activations.py
  curated_transformers/layers/attention.py
  curated_transformers/layers/embeddings.py
  curated_transformers/layers/feedforward.py
  curated_transformers/layers/normalization.py
  curated_transformers/layers/scalar_weight.py
  curated_transformers/models/albert/config.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/albert/layer_group.py
  curated_transformers/models/bert/config.py
  curated_transformers/models/bert/embeddings.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/bert/layer.py
  curated_transformers/models/camembert/encoder.py
  curated_transformers/models/gpt_neox/causal_lm.py
  curated_transformers/models/gpt_neox/config.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/gpt_neox/layer.py
  curated_transformers/models/llama/causal_lm.py
  curated_transformers/models/llama/config.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/llama/layer.py
  curated_transformers/models/refined_web_model/causal_lm.py
  curated_transformers/models/refined_web_model/config.py
  curated_transformers/models/refined_web_model/decoder.py
  curated_transformers/models/refined_web_model/layer.py
  curated_transformers/models/roberta/config.py
  curated_transformers/models/roberta/embeddings.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/models/xlm_roberta/encoder.py
  curated_transformers/tokenizers/legacy/bbpe_tokenizer.py
  curated_transformers/tokenizers/legacy/bert_tokenizer.py
  curated_transformers/tokenizers/legacy/camembert_tokenizer.py
  curated_transformers/tokenizers/legacy/llama_tokenizer.py
  curated_transformers/tokenizers/legacy/roberta_tokenizer.py
  curated_transformers/tokenizers/legacy/sentencepiece_tokenizer.py
  curated_transformers/tokenizers/legacy/wordpiece_tokenizer.py
  curated_transformers/tokenizers/legacy/xlmr_tokenizer.py
  curated_transformers/util/hf.py
Labels: documentation

#238 Rename RefinedWebModel to Falcon
  .github/workflows/test.yml
  README.md
  curated_transformers/models/__init__.py
  curated_transformers/models/auto_model.py
  curated_transformers/models/falcon/__init__.py
  curated_transformers/models/falcon/_hf.py
  curated_transformers/models/falcon/causal_lm.py
  curated_transformers/models/falcon/config.py
  curated_transformers/models/falcon/decoder.py
  curated_transformers/models/falcon/layer.py
  curated_transformers/models/refined_web_model/__init__.py
  curated_transformers/tests/models/falcon/__init__.py
  curated_transformers/tests/models/falcon/test_decoder.py
  curated_transformers/tests/models/test_auto_models.py
  curated_transformers/tests/tokenizers/test_auto_tokenizer.py
  docs/source/causal-lm.rst
  docs/source/decoders.rst
  docs/source/index.rst
Labels: feat/model

#239 Add logo by @victorialslocum
  README.md
  docs/source/index.rst
  docs/source/logo.svg
Labels: documentation, enhancement

#243 Add back support for old Falcon model type/config
  curated_transformers/models/auto_model.py
  curated_transformers/models/falcon/_hf.py
  curated_transformers/tests/models/falcon/test_decoder.py
Labels: bug, feat/model

#244 Support Falcon with non-parallel attention and no multi-query
  curated_transformers/models/falcon/_hf.py
  curated_transformers/models/falcon/config.py
  curated_transformers/models/falcon/layer.py
  curated_transformers/tests/models/falcon/test_decoder.py
Labels: enhancement, feat/model

#245 Add `VocabMaskTransform`
  curated_transformers/generation/config.py
  curated_transformers/generation/generator.py
  curated_transformers/generation/logits.py
  curated_transformers/tests/generation/test_generic.py
  curated_transformers/tests/generation/test_logits.py
Labels: enhancement, feat/generation

#248 Replace decoder layers by a shared layer
  curated_transformers/layers/__init__.py
  curated_transformers/layers/encoder.py
  curated_transformers/layers/transformer.py
  curated_transformers/models/albert/_hf.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/albert/layer_group.py
  curated_transformers/models/bert/_hf.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/gpt_neox/__init__.py
  curated_transformers/models/gpt_neox/_hf.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/gpt_neox/layer.py
  curated_transformers/models/llama/__init__.py
  curated_transformers/models/llama/_hf.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/llama/layer.py
  curated_transformers/models/roberta/_hf.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/tests/generation/test_dolly_v2.py
  docs/source/building-blocks.rst
Labels: enhancement, feat/model, feat/layers

#249 Construct transformer layers from attention and feedforward layers
  curated_transformers/layers/__init__.py
  curated_transformers/layers/attention.py
  curated_transformers/layers/transformer.py
  curated_transformers/models/albert/layer_group.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/falcon/layer.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/roberta/encoder.py
Labels: feat/model, feat/layers, maintenance

#254 Sinusoidal position embeddings fixes
  curated_transformers/layers/embeddings.py
  curated_transformers/tests/layers/__init__.py
  curated_transformers/tests/layers/test_embeddings.py
  curated_transformers/tests/models/test_embeddings.py
Labels: bug, feat/layers

#252 Add support for ALiBi in self-attention layer
  curated_transformers/layers/attention.py
  curated_transformers/tests/layers/test_attention.py
  docs/source/building-blocks.rst
Labels: enhancement, feat/layers

#255 Add top-p logits transform
  curated_transformers/generation/config.py
  curated_transformers/generation/dolly_v2.py
  curated_transformers/generation/logits.py
  curated_transformers/tests/generation/test_logits.py
  docs/source/generation.rst
Labels: enhancement, feat/generation

#253 Add support for the Falcon new decoder architecture
  curated_transformers/layers/__init__.py
  curated_transformers/layers/attention.py
  curated_transformers/layers/transformer.py
  curated_transformers/models/albert/layer_group.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/falcon/__init__.py
  curated_transformers/models/falcon/_hf.py
  curated_transformers/models/falcon/config.py
  curated_transformers/models/falcon/decoder.py
  curated_transformers/models/falcon/layer.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/tests/models/falcon/test_decoder.py
  docs/source/building-blocks.rst
Labels: enhancement, feat/model, feat/layers

#257 Make some changes to support `torch.compile` and add tests
  curated_transformers/layers/activations.py
  curated_transformers/layers/attention.py
  curated_transformers/tests/compat.py
  curated_transformers/tests/generation/test_logits.py
  curated_transformers/tests/models/albert/test_encoder.py
  curated_transformers/tests/models/bert/test_encoder.py
  curated_transformers/tests/models/camembert/test_encoder.py
  curated_transformers/tests/models/falcon/test_decoder.py
  curated_transformers/tests/models/gpt_neox/test_causal_lm.py
  curated_transformers/tests/models/gpt_neox/test_decoder.py
  curated_transformers/tests/models/llama/test_causal_lm.py
  curated_transformers/tests/models/llama/test_decoder.py
  curated_transformers/tests/models/roberta/test_encoder.py
  curated_transformers/tests/models/util.py
  curated_transformers/tests/models/xlm_roberta/test_encoder.py
Labels: enhancement, feat/layers

#256 Add a minimum version check for `bitsandbytes`
  docs/source/usage.rst
  setup.cfg
Labels: maintenance

#258 Factor out module-level config dataclasses into `model.config`
  curated_transformers/models/albert/config.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/albert/layer_group.py
  curated_transformers/models/bert/__init__.py
  curated_transformers/models/bert/config.py
  curated_transformers/models/bert/embeddings.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/config.py
  curated_transformers/models/falcon/causal_lm.py
  curated_transformers/models/falcon/config.py
  curated_transformers/models/falcon/decoder.py
  curated_transformers/models/falcon/layer.py
  curated_transformers/models/gpt_neox/__init__.py
  curated_transformers/models/gpt_neox/causal_lm.py
  curated_transformers/models/gpt_neox/config.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/llama/causal_lm.py
  curated_transformers/models/llama/config.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/roberta/embeddings.py
  curated_transformers/models/roberta/encoder.py
  docs/source/building-blocks.rst
  docs/source/decoders.rst
  docs/source/encoders.rst
Labels: feat/model, maintenance

#259 Remove old development docs
  DEVELOP.md
Labels: feat/doc, maintenance

#260 ALiBi: Add support for inverted biases
  curated_transformers/layers/attention.py
  curated_transformers/models/falcon/_hf.py
  curated_transformers/models/falcon/decoder.py
  curated_transformers/models/falcon/layer.py
  curated_transformers/tests/layers/test_attention.py
  curated_transformers/tests/models/falcon/test_decoder.py
Labels: feat/model, feat/layers

#263 Add support for LLaMA2
  .github/workflows/test.yml
  curated_transformers/models/llama/_hf.py
  curated_transformers/models/llama/config.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/tests/models/llama/test_causal_lm.py
  curated_transformers/tests/models/llama/test_decoder.py
Labels: enhancement, feat/model

#261 Refactoring: `AttentionMask`, `PiecesWithIds`, `Generator` and associated classes
  curated_transformers/generation/generator.py
  curated_transformers/generation/state.py
  curated_transformers/generation/string_generator.py
  curated_transformers/layers/attention.py
  curated_transformers/tests/generation/test_stop.py
  curated_transformers/tests/tokenizers/legacy/test_bert_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_camembert_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_roberta_tokenizer.py
  curated_transformers/tests/tokenizers/legacy/test_xlmr_tokenizer.py
  curated_transformers/tests/tokenizers/util.py
  curated_transformers/tokenizers/tokenizer.py
  docs/source/usage.rst
Labels: enhancement, feat/tokenization

#264 `SentencePieceTokenizer`: Fix `eos` piece
  curated_transformers/tokenizers/legacy/sentencepiece_tokenizer.py
Labels: bug, feat/tokenization

#266 Make `DataclassAsTuple` types actual tuples
  curated_transformers/layers/cache.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/falcon/decoder.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/tests/models/util.py
  curated_transformers/tests/util/test_dataclass.py
  curated_transformers/util/dataclass.py
  docs/source/develop.rst
Labels: enhancement, feat/model

#267 Tokenizer: Use `hf_hub_download` to initialize HF tokenizer
  curated_transformers/tokenizers/tokenizer.py
  docs/source/utils.rst
Labels: bug, enhancement, feat/tokenization

#268 `AutoGenerator`: Remove unused class variables
  curated_transformers/generation/auto_generator.py
Labels: feat/generation, maintenance

#265 Add LLaMA v1/v2 generator
  README.md
  curated_transformers/generation/llama.py
  docs/source/generation.rst
  docs/source/index.rst
Labels: enhancement, feat/generation

#272 Decoder docs header consistency
  docs/source/decoders.rst
Labels: feat/doc, type/maintenance

#269 Share causal LM/encoder/decoder forward method
  curated_transformers/models/albert/_hf.py
  curated_transformers/models/albert/config.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/bert/_hf.py
  curated_transformers/models/bert/config.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/falcon/causal_lm.py
  curated_transformers/models/falcon/decoder.py
  curated_transformers/models/gpt_neox/causal_lm.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/llama/causal_lm.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/module.py
  curated_transformers/models/roberta/config.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/models/transformer.py
  docs/source/building-blocks.rst
  docs/source/causal-lm.rst
  docs/source/decoders.rst
  docs/source/encoders.rst
Labels: feat/model, type/maintenance

#271 Make activations strongly typed as an Enum
  curated_transformers/layers/__init__.py
  curated_transformers/layers/activations.py
  curated_transformers/layers/cache.py
  curated_transformers/layers/feedforward.py
  curated_transformers/models/albert/_hf.py
  curated_transformers/models/albert/config.py
  curated_transformers/models/albert/layer_group.py
  curated_transformers/models/bert/_hf.py
  curated_transformers/models/bert/config.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/config.py
  curated_transformers/models/falcon/_hf.py
  curated_transformers/models/falcon/config.py
  curated_transformers/models/falcon/decoder.py
  curated_transformers/models/falcon/layer.py
  curated_transformers/models/gpt_neox/_hf.py
  curated_transformers/models/gpt_neox/config.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/hf_hub.py
  curated_transformers/models/llama/_hf.py
  curated_transformers/models/llama/config.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/roberta/_hf.py
  curated_transformers/models/roberta/config.py
  curated_transformers/models/roberta/encoder.py
  docs/source/building-blocks.rst
Labels: feat/layers, type/maintenance

#270 Documentation fixes
  curated_transformers/generation/falcon.py
  curated_transformers/generation/generator.py
  curated_transformers/generation/state.py
  curated_transformers/layers/attention.py
  curated_transformers/layers/embeddings.py
  curated_transformers/layers/feedforward.py
  curated_transformers/layers/transformer.py
  curated_transformers/models/albert/layer_group.py
  curated_transformers/models/auto_model.py
  curated_transformers/models/falcon/causal_lm.py
  curated_transformers/models/falcon/config.py
  curated_transformers/models/falcon/decoder.py
  curated_transformers/models/falcon/layer.py
  curated_transformers/models/llama/causal_lm.py
  curated_transformers/models/llama/config.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/module.py
  curated_transformers/models/output.py
  curated_transformers/quantization/bnb/config.py
  curated_transformers/quantization/helpers.py
  curated_transformers/quantization/quantizable.py
  curated_transformers/tokenizers/auto_tokenizer.py
  curated_transformers/tokenizers/legacy/bert_tokenizer.py
  curated_transformers/tokenizers/legacy/camembert_tokenizer.py
  curated_transformers/tokenizers/legacy/llama_tokenizer.py
  curated_transformers/tokenizers/legacy/sentencepiece_tokenizer.py
  curated_transformers/tokenizers/legacy/wordpiece_tokenizer.py
  curated_transformers/tokenizers/legacy/xlmr_tokenizer.py
  curated_transformers/tokenizers/tokenizer.py
  curated_transformers/util/hf.py
  curated_transformers/util/serde.py
  docs/source/conf.py
  docs/source/develop.rst
  docs/source/encoders.rst
  docs/source/generation.rst
  docs/source/index.rst
Labels: feat/doc
