Repository explosion/curated-transformers, pull requests merged in 2023-06, with the labels that each got.

#179 Add a generator
  .github/workflows/test.yml
  curated_transformers/generation/__init__.py
  curated_transformers/generation/dolly_v2.py
  curated_transformers/generation/generator.py
  curated_transformers/generation/generator_wrapper.py
  curated_transformers/generation/hf_hub.py
  curated_transformers/generation/state.py
  curated_transformers/generation/string_generator.py
  curated_transformers/models/attention.py
  curated_transformers/models/gpt_neox/causal_lm.py
  curated_transformers/models/module.py
  curated_transformers/tests/conftest.py
  curated_transformers/tests/enable_gpu.py
  curated_transformers/tests/generation/__init__.py
  curated_transformers/tests/generation/test_dolly_v2.py
  curated_transformers/tokenization/bert_tokenizer.py
  docs/source/api.rst
  docs/source/generation.rst
  requirements.txt
  setup.cfg
Labels: enhancement, feat/generation

#180 generator: yield correct sequence ids with piece ids
  curated_transformers/generation/generator.py
  curated_transformers/tests/generation/test_dolly_v2.py
Labels: bug, feat/generation

#184 BBPE and BERT decoding: add option to skip special pieces
  curated_transformers/tokenization/bbpe_tokenizer.py
  curated_transformers/tokenization/bert_tokenizer.py
  curated_transformers/tokenization/roberta_tokenizer.py
  curated_transformers/tokenization/sentencepiece_tokenizer.py
  curated_transformers/tokenization/tokenizer.py
  curated_transformers/tokenization/wordpiece_tokenizer.py
Labels: enhancement, feat/tokenization

#181 Add support for normalization in `Tokenizer`
  curated_transformers/tests/tokenization/test_bert_tokenizer.py
  curated_transformers/tokenization/bert_tokenizer.py
  curated_transformers/tokenization/tokenizer.py
Labels: enhancement, feat/tokenization

#185 `StringGenerator`: decode all output ids at once
  curated_transformers/generation/dolly_v2.py
  curated_transformers/generation/generator_wrapper.py
  curated_transformers/generation/string_generator.py
  curated_transformers/tests/generation/test_dolly_v2.py
Labels: bug, feat/generation

#186 `Generator`: add support for sampling
  curated_transformers/generation/config.py
  curated_transformers/generation/dolly_v2.py
  curated_transformers/generation/generator.py
  curated_transformers/generation/generator_wrapper.py
  curated_transformers/generation/logits.py
  curated_transformers/generation/string_generator.py
  curated_transformers/tests/generation/test_dolly_v2.py
  curated_transformers/tests/generation/test_logits.py
Labels: enhancement, feat/generation

#193 Clean up the self-attention layer
  curated_transformers/generation/generator.py
  curated_transformers/generation/state.py
  curated_transformers/generation/string_generator.py
  curated_transformers/models/attention.py
  curated_transformers/models/bert/layer.py
  curated_transformers/models/embeddings.py
  curated_transformers/models/gpt_neox/_hf.py
  curated_transformers/models/gpt_neox/causal_lm.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/gpt_neox/layer.py
  curated_transformers/models/module.py
  curated_transformers/models/output.py
  docs/source/building-blocks.rst
Labels: feat/model

#192 Implement `bitsandbytes` 4-bit and 8-bit quantization
  README.md
  curated_transformers/_compat.py
  curated_transformers/generation/dolly_v2.py
  curated_transformers/generation/falcon.py
  curated_transformers/generation/hf_hub.py
  curated_transformers/models/gpt_neox/causal_lm.py
  curated_transformers/models/hf_hub.py
  curated_transformers/quantization/__init__.py
  curated_transformers/quantization/bnb/__init__.py
  curated_transformers/quantization/bnb/config.py
  curated_transformers/quantization/bnb/impl.py
  curated_transformers/quantization/helpers.py
  curated_transformers/quantization/quantizable.py
  curated_transformers/tests/quantization/__init__.py
  curated_transformers/tests/quantization/test_generation.py
Labels: enhancement, feat/misc

#196 Add support for Torch scaled dot product attention
  curated_transformers/models/attention.py
  curated_transformers/tests/models/test_attention.py
  docs/source/api.rst
  docs/source/building-blocks.rst
  docs/source/conf.py
  docs/source/generation.rst
Labels: enhancement, feat/model

#197 Add .readthedocs.yaml
  .readthedocs.yaml
  docs/source/requirements.in
  docs/source/requirements.txt
  requirements.txt
Labels: documentation

#199 Add `AutoModel` classes + Refactoring
  curated_transformers/models/__init__.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/camembert/__init__.py
  curated_transformers/models/hf_hub.py
  curated_transformers/models/xlm_roberta/__init__.py
  curated_transformers/tests/models/test_auto_models.py
  curated_transformers/util/auto_model.py
  curated_transformers/util/hf.py
  docs/source/causal-lm.rst
  docs/source/decoders.rst
  docs/source/encoders.rst
  docs/source/generation.rst
Labels: enhancement, feat/model

#202 A bag of small (but useful) fixes
  curated_transformers/generation/dolly_v2.py
  curated_transformers/generation/falcon.py
  curated_transformers/generation/generator.py
  curated_transformers/generation/string_generator.py
  curated_transformers/models/attention.py
  curated_transformers/util/auto_model.py
Labels: bug

#204 readthedocs: add some missing installs
  .readthedocs.yaml
Labels: bug, documentation

#203 Add a small generator example script
  .github/workflows/test.yml
  examples/generate.py
Labels: enhancement, feat/example

#207 Add cache lookup fallback for `hf_hub_download` if the HF Hub is unreachable
  curated_transformers/tokenization/hf_hub.py
  curated_transformers/util/hf.py
Labels: bug, feat/misc

#206 Remove HF cache from CI + Remove `slow` test marker
  .github/workflows/test.yml
  curated_transformers/tests/conftest.py
  curated_transformers/tests/generation/test_dolly_v2.py
  curated_transformers/tests/generation/test_falcon.py
  curated_transformers/tests/models/test_auto_models.py
  curated_transformers/tests/quantization/test_generation.py
Labels: tests

#209 BertTokenizer: fix differences compared to HF tokenizer
  curated_transformers/tests/conftest.py
  curated_transformers/tests/tokenization/test_bert_tokenizer.py
  curated_transformers/tests/tokenization/test_camembert_tokenizer.py
  curated_transformers/tests/tokenization/test_gpt_neox_tokenizer.py
  curated_transformers/tests/tokenization/test_roberta_tokenizer.py
  curated_transformers/tests/tokenization/test_xlmr_tokenizer.py
  curated_transformers/tokenization/_hf_compat.py
  curated_transformers/tokenization/bert_tokenizer.py
  curated_transformers/tokenization/wordpiece_tokenizer.py
Labels: bug, feat/tokenization
