Repository explosion/curated-transformers, pull requests merged in 2023-08, with the labels that each got.

#274 Add initial semver documentation
  curated_transformers/semver.py
  docs/source/api-compat.rst
  docs/source/index.rst
Labels: feat/doc, type/maintenance

#273 Factor out embeddings into a shared layer
  curated_transformers/generation/string_generator.py
  curated_transformers/layers/transformer.py
  curated_transformers/models/albert/_hf.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/bert/__init__.py
  curated_transformers/models/bert/_hf.py
  curated_transformers/models/bert/embeddings.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/falcon/_hf.py
  curated_transformers/models/falcon/decoder.py
  curated_transformers/models/gpt_neox/_hf.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/llama/_hf.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/module.py
  curated_transformers/models/roberta/_hf.py
  curated_transformers/models/roberta/embeddings.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/models/transformer.py
  curated_transformers/tests/models/util.py
  docs/source/building-blocks.rst
  docs/source/deployment.rst
  docs/source/usage.rst
Labels: feat/layers, type/maintenance

#276 `num_` -> `n` and other renames
  curated_transformers/layers/attention.py
  curated_transformers/layers/embeddings.py
  curated_transformers/layers/scalar_weight.py
  curated_transformers/models/albert/_hf.py
  curated_transformers/models/albert/config.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/albert/layer_group.py
  curated_transformers/models/bert/_hf.py
  curated_transformers/models/bert/config.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/config.py
  curated_transformers/models/falcon/_hf.py
  curated_transformers/models/falcon/causal_lm.py
  curated_transformers/models/falcon/config.py
  curated_transformers/models/falcon/decoder.py
  curated_transformers/models/falcon/layer.py
  curated_transformers/models/gpt_neox/_hf.py
  curated_transformers/models/gpt_neox/causal_lm.py
  curated_transformers/models/gpt_neox/config.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/llama/_hf.py
  curated_transformers/models/llama/causal_lm.py
  curated_transformers/models/llama/config.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/output.py
  curated_transformers/models/roberta/_hf.py
  curated_transformers/models/roberta/config.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/tests/layers/test_attention.py
  curated_transformers/tests/models/albert/test_encoder.py
  curated_transformers/tests/models/falcon/test_decoder.py
  curated_transformers/tokenizers/legacy/wordpiece_tokenizer.py
Labels: type/maintenance

#278 Remove ScalarWeightClassifier
  curated_transformers/layers/__init__.py
  curated_transformers/layers/scalar_weight.py
Labels: type/maintenance

#280 Fix heading level in API compat docs
  docs/source/api-compat.rst
Labels: feat/doc, type/maintenance

#282 Add readme to examples dir
  examples/README.md
Labels: feat/doc, type/maintenance

#283 typo fix
  examples/passive2active.py
Labels: feat/example

#284 Add PyTorch installation notes for Windows and Ada-generation GPUs
  README.md
Labels: feat/doc, type/maintenance

#281 Make the attention mask a mandatory argument of models
  curated_transformers/layers/attention.py
  curated_transformers/layers/transformer.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/falcon/layer.py
  curated_transformers/models/module.py
  curated_transformers/models/transformer.py
  curated_transformers/tests/layers/test_attention.py
  curated_transformers/tests/models/falcon/test_decoder.py
  curated_transformers/tests/models/util.py
  docs/source/deployment.rst
  docs/source/usage.rst
Labels: feat/model, feat/layers, type/maintenance

#286 Add section about development branches to the docs
  docs/source/develop.rst
Labels: feat/doc, type/maintenance

#288 Remove tech preview notices in preparation for 1.0.0
  README.md
  docs/source/index.rst
Labels: feat/doc, type/maintenance

#289 Update stable doc links to v1.0.x branch
  README.md
  docs/source/api.rst
Labels: feat/doc, type/maintenance

#287 Show forward docs in encoder/decoder/causal lm architectures
  docs/source/causal-lm.rst
  docs/source/decoders.rst
  docs/source/encoders.rst
Labels: feat/doc, type/maintenance

#279 Expose public APIs in top-level modules
  curated_transformers/generation/__init__.py
  curated_transformers/generation/auto_generator.py
  curated_transformers/generation/config.py
  curated_transformers/generation/default_generator.py
  curated_transformers/generation/hf_hub.py
  curated_transformers/generation/logits.py
  curated_transformers/layers/__init__.py
  curated_transformers/models/__init__.py
  curated_transformers/models/auto_model.py
  curated_transformers/models/hf_hub.py
  curated_transformers/quantization/__init__.py
  curated_transformers/quantization/bnb/__init__.py
  curated_transformers/quantization/helpers.py
  curated_transformers/tests/quantization/test_generation.py
  curated_transformers/tokenizers/__init__.py
  curated_transformers/tokenizers/legacy/__init__.py
  docs/source/building-blocks.rst
  docs/source/causal-lm.rst
  docs/source/decoders.rst
  docs/source/deployment.rst
  docs/source/encoders.rst
  docs/source/generation.rst
  docs/source/quantization.rst
  docs/source/tokenizers.rst
  docs/source/usage.rst
  docs/source/utils.rst
  examples/passive2active.py
Labels: type/maintenance

#290 `Embeddings{Dropouts,LayerNorms}` -> `Embedding{Dropouts,LayerNorms}`
  curated_transformers/layers/__init__.py
  curated_transformers/layers/transformer.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/falcon/decoder.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/llama/decoder.py
  curated_transformers/models/roberta/embeddings.py
  curated_transformers/models/roberta/encoder.py
  docs/source/building-blocks.rst
Labels: feat/layers, type/maintenance

#291 Bump version to 1.0.0
  setup.cfg
Labels: type/maintenance

#292 Add PyTorch+CUDA installation instructions to docs
  README.md
  docs/source/usage.rst
Labels: feat/doc, type/maintenance

#293 `main` is now the development branch for 1.1.0
  setup.cfg
Labels: type/maintenance

#294 Add MosaicML decoder and causal LM
  README.md
  curated_transformers/layers/__init__.py
  curated_transformers/layers/attention.py
  curated_transformers/models/__init__.py
  curated_transformers/models/auto_model.py
  curated_transformers/models/mpt/__init__.py
  curated_transformers/models/mpt/_hf.py
  curated_transformers/models/mpt/causal_lm.py
  curated_transformers/models/mpt/config.py
  curated_transformers/models/mpt/decoder.py
  curated_transformers/tests/conftest.py
  curated_transformers/tests/models/mpt/__init__.py
  curated_transformers/tests/models/mpt/test_causal_lm.py
  curated_transformers/tests/models/mpt/test_decoder.py
  curated_transformers/tests/models/test_auto_models.py
  curated_transformers/tests/models/util.py
  docs/source/api-compat.rst
  docs/source/building-blocks.rst
  docs/source/causal-lm.rst
  docs/source/decoders.rst
  docs/source/index.rst
Labels: type/feature, feat/model, feat/layers

#296 Add `MPTGenerator`
  README.md
  curated_transformers/generation/__init__.py
  curated_transformers/generation/auto_generator.py
  curated_transformers/generation/mpt.py
  curated_transformers/models/mpt/_hf.py
  curated_transformers/models/mpt/causal_lm.py
  curated_transformers/models/transformer.py
  curated_transformers/tests/generation/test_auto_generator.py
  docs/source/generation.rst
  docs/source/index.rst
Labels: type/feature, feat/generation

#297 Bump version to 1.1.0
  setup.cfg
Labels: type/maintenance

#298 Bump version to 1.2.0.dev0
  setup.cfg
Labels: type/maintenance

#301 Add MPT to `AutoGenerator` docstring
  curated_transformers/generation/auto_generator.py
Labels: feat/doc, feat/generation

#300 add quantization extra in the README
  README.md
Labels: feat/doc

#306 Fix section heading title case
  docs/source/api-compat.rst
Labels: feat/doc

#304 Remove superfluous version/release string from doc config
  docs/source/conf.py
Labels: feat/doc

#305 Make the PR template more concise
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type/maintenance

#303 Add `download_to_cache` method to the different `FromHFHub` mixins
  curated_transformers/generation/auto_generator.py
  curated_transformers/generation/default_generator.py
  curated_transformers/generation/hf_hub.py
  curated_transformers/models/auto_model.py
  curated_transformers/models/hf_hub.py
  curated_transformers/tests/models/test_hf_hub.py
  curated_transformers/tests/tokenizers/test_hf_hub.py
  curated_transformers/tokenizers/auto_tokenizer.py
  curated_transformers/tokenizers/hf_hub.py
  curated_transformers/tokenizers/tokenizer.py
  docs/source/causal-lm.rst
  docs/source/decoders.rst
  docs/source/encoders.rst
  docs/source/generation.rst
  docs/source/tokenizers.rst
Labels: type/feature, feat/misc

#309 Fix import paths to use a top-level import
  curated_transformers/layers/attention.py
  docs/source/api-compat.rst
  docs/source/decoders.rst
  docs/source/deployment.rst
  docs/source/encoders.rst
  docs/source/utils.rst
Labels: feat/doc, type/maintenance
