Repository explosion/curated-transformers, pull requests merged in 2023-05, with the labels that each got.

#136 Factor out `BertFeedForward` as `PointwiseFeedForward`
  curated_transformers/models/bert/layer.py
  curated_transformers/models/feedforward.py
Labels: feat/model

#137 Add Rotary Embeddings layer (Su et al., 2021) - take 2
  .github/workflows/test.yml
  curated_transformers/models/embeddings.py
  curated_transformers/tests/models/test_embeddings.py
Labels: feat/model

#139 Factor self attention out of the bert package
  curated_transformers/errors.py
  curated_transformers/models/attention.py
  curated_transformers/models/bert/layer.py
Labels: enhancement, feat/model

#138 `Add ByteBPETokenizer`
  curated_transformers/tests/conftest.py
  curated_transformers/tests/tokenization/test_bbpe_tokenizer.py
  curated_transformers/tests/tokenization/toy-merges.txt
  curated_transformers/tests/tokenization/toy-vocab.json
  curated_transformers/tokenization/__init__.py
  curated_transformers/tokenization/bbpe_tokenizer.py
  curated_transformers/tokenization/tokenizer.py
  requirements.txt
Labels: enhancement, feat/tokenization

#141 Add GPT-NeoX tokenizer
  curated_transformers/tests/tokenization/test_gpt_neox_tokenizer.py
  curated_transformers/tests/tokenization/test_roberta_tokenizer.py
  curated_transformers/tokenization/__init__.py
  curated_transformers/tokenization/gpt_neox_tokenizer.py
Labels: enhancement, feat/tokenization

#148 RotaryEmbeddings: put positions on correct device when resizing
  curated_transformers/models/embeddings.py
  curated_transformers/tests/models/test_embeddings.py
Labels: bug, feat/model

#150 RotaryEmbeddings.forward: add support for a positions tensor
  curated_transformers/models/embeddings.py
  curated_transformers/tests/models/test_embeddings.py
Labels: enhancement, feat/model

#152 Remove BertFeedForward
  curated_transformers/models/bert/layer.py
Labels: feat/model

#151 Fix batch/num_heads mixup in rotary embeddings
  curated_transformers/models/embeddings.py
  curated_transformers/tests/models/test_embeddings.py
Labels: bug, feat/model

#153 Improved Hugging Face Hub model loading infra, apply to RoBERTa
  curated_transformers/_compat.py
  curated_transformers/models/camembert/__init__.py
  curated_transformers/models/camembert/encoder.py
  curated_transformers/models/curated_transformer.py
  curated_transformers/models/hf_hub.py
  curated_transformers/models/hf_util.py
  curated_transformers/models/module.py
  curated_transformers/models/roberta/_hf.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/models/xlm_roberta/__init__.py
  curated_transformers/models/xlm_roberta/encoder.py
  curated_transformers/tests/models/camembert/__init__.py
  curated_transformers/tests/models/camembert/test_encoder.py
  curated_transformers/tests/models/roberta/__init__.py
  curated_transformers/tests/models/roberta/test_encoder.py
  curated_transformers/tests/models/test_hf_model.py
  curated_transformers/tests/models/xlm_roberta/__init__.py
  curated_transformers/tests/models/xlm_roberta/test_encoder.py
  requirements.txt
  setup.cfg
Labels: enhancement, feat/model

#158 Improve the API sections, add more classes
  curated_transformers/models/embeddings.py
  docs/source/api.rst
  docs/source/building-blocks.rst
  docs/source/conf.py
  docs/source/encoders.rst
  docs/source/index.rst
  requirements.txt
Labels: documentation

#161 Fix seed in encoder tests
  curated_transformers/tests/models/albert/test_encoder.py
  curated_transformers/tests/models/util.py
Labels: bug

#162 Update encoder tests to use small models from `explosion-testing`
  curated_transformers/tests/models/albert/test_encoder.py
  curated_transformers/tests/models/bert/test_encoder.py
  curated_transformers/tests/models/camembert/test_encoder.py
  curated_transformers/tests/models/roberta/test_encoder.py
  curated_transformers/tests/models/xlm_roberta/test_encoder.py
Labels: tests

#160 Add GPT-NeoX decoder and causal language model
  curated_transformers/models/__init__.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/attention.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/bert/layer.py
  curated_transformers/models/gpt_neox/__init__.py
  curated_transformers/models/gpt_neox/_hf.py
  curated_transformers/models/gpt_neox/causal_lm.py
  curated_transformers/models/gpt_neox/config.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/gpt_neox/layer.py
  curated_transformers/models/output.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/tests/models/gpt_neox/test_causal_lm.py
  curated_transformers/tests/models/gpt_neox/test_decoder.py
  docs/source/api.rst
  docs/source/building-blocks.rst
  docs/source/causal-lm.rst
  docs/source/decoders.rst
Labels: enhancement, feat/model

#163 Do not error out when dropout parameter are not in HF config
  curated_transformers/models/gpt_neox/_hf.py
Labels: bug, feat/model

#165 GPT-NeoX: Fix up optional optional args conversion
  curated_transformers/models/gpt_neox/_hf.py
Labels: bug, feat/model

#164 `padding_idx` -> `padding_id`
  DEVELOP.md
  curated_transformers/models/albert/_hf.py
  curated_transformers/models/albert/config.py
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/albert/layer_group.py
  curated_transformers/models/attention.py
  curated_transformers/models/bert/_hf.py
  curated_transformers/models/bert/config.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/bert/layer.py
  curated_transformers/models/gpt_neox/layer.py
  curated_transformers/models/roberta/_hf.py
  curated_transformers/models/roberta/config.py
  curated_transformers/models/roberta/embeddings.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/tokenization/tokenizer.py
Labels: feat/model

#166 `BertTokenizer` and friends
  curated_transformers/tests/tokenization/test_bert_tokenizer.py
  curated_transformers/tests/tokenization/test_gpt_neox_tokenizer.py
  curated_transformers/tests/tokenization/test_roberta_tokenizer.py
  curated_transformers/tests/tokenization/toy.wordpieces
  curated_transformers/tests/util.py
  curated_transformers/tokenization/__init__.py
  curated_transformers/tokenization/bert_tokenizer.py
  curated_transformers/tokenization/roberta_tokenizer.py
  curated_transformers/tokenization/tokenizer.py
  curated_transformers/tokenization/util.py
  curated_transformers/tokenization/wordpiece_tokenizer.py
  requirements.txt
  setup.cfg
Labels: enhancement, feat/tokenization

#170 Switch from cutlery to curated tokenizers
  curated_transformers/tokenization/bbpe_tokenizer.py
  curated_transformers/tokenization/bert_tokenizer.py
  curated_transformers/tokenization/camembert_tokenizer.py
  curated_transformers/tokenization/gpt_neox_tokenizer.py
  curated_transformers/tokenization/roberta_tokenizer.py
  curated_transformers/tokenization/sentencepiece_tokenizer.py
  curated_transformers/tokenization/wordpiece_tokenizer.py
  curated_transformers/tokenization/xlmr_tokenizer.py
  requirements.txt
  setup.cfg
Labels: feat/tokenization

#171 Remove unused cutlery dependency and set version to 0.1.1
  requirements.txt
  setup.cfg
Labels: spacy-3.x

#172 Add support for left padding
  curated_transformers/tests/tokenization/test_bert_tokenizer.py
  curated_transformers/tests/tokenization/test_camembert_tokenizer.py
  curated_transformers/tests/tokenization/test_gpt_neox_tokenizer.py
  curated_transformers/tests/tokenization/test_roberta_tokenizer.py
  curated_transformers/tests/tokenization/test_xlmr_tokenizer.py
  curated_transformers/tests/tokenization/util.py
  curated_transformers/tests/util.py
  curated_transformers/tokenization/tokenizer.py
Labels: enhancement, feat/tokenization

#175 Add `GeluFast` activation function
  curated_transformers/models/activations.py
  curated_transformers/models/feedforward.py
Labels: enhancement

#173 Allow more fine-grained control over tokenizer input
  curated_transformers/tests/tokenization/test_bert_tokenizer.py
  curated_transformers/tests/tokenization/test_chunks.py
  curated_transformers/tests/tokenization/test_gpt_neox_tokenizer.py
  curated_transformers/tokenization/__init__.py
  curated_transformers/tokenization/_fairseq.py
  curated_transformers/tokenization/bbpe_tokenizer.py
  curated_transformers/tokenization/bert_tokenizer.py
  curated_transformers/tokenization/camembert_tokenizer.py
  curated_transformers/tokenization/chunks.py
  curated_transformers/tokenization/gpt_neox_tokenizer.py
  curated_transformers/tokenization/roberta_tokenizer.py
  curated_transformers/tokenization/sentencepiece_tokenizer.py
  curated_transformers/tokenization/tokenizer.py
  curated_transformers/tokenization/util.py
  curated_transformers/tokenization/wordpiece_tokenizer.py
  curated_transformers/tokenization/xlmr_tokenizer.py
  docs/source/tokenizers.rst
Labels: enhancement, feat/tokenization

#176 Load pre-trained models from HF Hub without unnecessary allocations
  curated_transformers/models/albert/encoder.py
  curated_transformers/models/albert/layer_group.py
  curated_transformers/models/attention.py
  curated_transformers/models/bert/embeddings.py
  curated_transformers/models/bert/encoder.py
  curated_transformers/models/bert/layer.py
  curated_transformers/models/embeddings.py
  curated_transformers/models/feedforward.py
  curated_transformers/models/gpt_neox/causal_lm.py
  curated_transformers/models/gpt_neox/decoder.py
  curated_transformers/models/gpt_neox/layer.py
  curated_transformers/models/hf_hub.py
  curated_transformers/models/loading_util.py
  curated_transformers/models/roberta/embeddings.py
  curated_transformers/models/roberta/encoder.py
  curated_transformers/models/scalar_weight.py
  curated_transformers/tests/enable_gpu.py
  curated_transformers/tests/models/gpt_neox/__init__.py
  curated_transformers/tests/models/gpt_neox/test_causal_lm.py
  curated_transformers/tests/models/gpt_neox/test_decoder.py
  curated_transformers/tests/models/util.py
Labels: enhancement, feat/misc

#177 Support loading BERT/RoBERTa/NeoX tokenizers without HF transformers
  curated_transformers/tests/tokenization/test_bert_tokenizer.py
  curated_transformers/tests/tokenization/test_camembert_tokenizer.py
  curated_transformers/tests/tokenization/test_gpt_neox_tokenizer.py
  curated_transformers/tests/tokenization/test_roberta_tokenizer.py
  curated_transformers/tests/tokenization/test_xlmr_tokenizer.py
  curated_transformers/tests/tokenization/toy-bert.json
  curated_transformers/tests/tokenization/toy-gpt-neox.json
  curated_transformers/tests/tokenization/toy-roberta.json
  curated_transformers/tests/tokenization/util.py
  curated_transformers/tokenization/bbpe_tokenizer.py
  curated_transformers/tokenization/bert_tokenizer.py
  curated_transformers/tokenization/camembert_tokenizer.py
  curated_transformers/tokenization/gpt_neox_tokenizer.py
  curated_transformers/tokenization/hf_hub.py
  curated_transformers/tokenization/roberta_tokenizer.py
  curated_transformers/tokenization/wordpiece_tokenizer.py
  curated_transformers/tokenization/xlmr_tokenizer.py
Labels: enhancement, feat/tokenization
