Repository explosion/curated-transformers, pull requests merged in 2023-03, with the labels that each got.

#113 Add optional `piece_encoder` argument to each transformer architecture
  curated_transformers/models/architectures.py
  curated_transformers/pipeline/transformer.py
  curated_transformers/tests/conftest.py
  curated_transformers/tests/models/test_listeners.py
  curated_transformers/tests/models/test_transformer_model.py
  curated_transformers/tests/pipeline/test_transformer.py
  curated_transformers/tests/tokenization/test_bbpe_encoder.py
  curated_transformers/tests/tokenization/test_char_encoder.py
  curated_transformers/tests/tokenization/test_registry.py
  curated_transformers/tests/tokenization/test_sentencepiece_encoder.py
  curated_transformers/tests/tokenization/test_wordpiece_encoder.py
  curated_transformers/tests/tokenization/test_xlmr_adapter.py
  curated_transformers/tokenization/__init__.py
  curated_transformers/tokenization/bbpe_encoder.py
  curated_transformers/tokenization/sentencepiece_encoder.py
  curated_transformers/tokenization/wordpiece_encoder.py
  project/configs/layer-weighting.cfg
  project/configs/no-layer-weighting.cfg
  setup.cfg
Labels: enhancement, feat/pipeline, feat/tokenization

#119 Rename `HFEncoderLoader.v1` to `HFTransformerEncoderLoader.v1`
  curated_transformers/models/__init__.py
  curated_transformers/models/hf_loader.py
  curated_transformers/tests/models/test_hf_model.py
  curated_transformers/tests/models/test_transformer_model.py
  curated_transformers/tests/pipeline/test_transformer.py
  curated_transformers/tests/tokenization/test_registry.py
  project/configs/layer-weighting.cfg
  project/configs/no-layer-weighting.cfg
  setup.cfg
Labels: enhancement

#120 Consolidate error messages and warnings into a new module
  curated_transformers/cli/quantize.py
  curated_transformers/errors.py
  curated_transformers/models/architectures.py
  curated_transformers/models/hf_loader.py
  curated_transformers/models/listeners.py
  curated_transformers/models/output.py
  curated_transformers/models/pytorch/albert/encoder.py
  curated_transformers/models/pytorch/attention.py
  curated_transformers/models/pytorch/bert/layer.py
  curated_transformers/models/pytorch/hf_util.py
  curated_transformers/models/pytorch/scalar_weight.py
  curated_transformers/models/remove_eos_bos.py
  curated_transformers/models/scalar_weight.py
  curated_transformers/models/with_strided_spans.py
  curated_transformers/tests/tokenization/test_char_encoder.py
  curated_transformers/tokenization/bbpe_encoder.py
  curated_transformers/tokenization/char_encoder.py
  curated_transformers/tokenization/hf_loader.py
  curated_transformers/util.py
Labels: enhancement

#118 `mypy` fixes for `BertTokenizerFast` attributes
  curated_transformers/tokenization/hf_loader.py
Labels: bug, feat/tokenization

#124 Add a workaround for invalid outputs of `nn.Linear` on MPS
  curated_transformers/models/pytorch/__init__.py
  curated_transformers/models/pytorch/bert/layer.py
  curated_transformers/models/pytorch/linear.py
  curated_transformers/tests/models/test_hf_model.py
Labels: bug, feat/pytorch

#123 Add support for testing on GPUs
  curated_transformers/tests/enable_gpu.py
  curated_transformers/tests/models/test_hf_model.py
Labels: enhancement
